.summary ul li{
    display: flex;
    justify-content:space-between;
}
.summary button{
    width: 100%;
}

table img{
    height:50px;
}

.wraaper{
    width: 20vh;
}

.cardImage{
    width: 200px;
    height: 250px;
}